<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="FitNexa"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FitNexa2">

        <!-- LOGIN = first screen -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".SignupActivity" />

        <activity android:name=".HomePage" />

        <activity android:name=".StartExercise"/>
        <activity android:name=".BodyPart" />

        <activity android:name=".DifficultyLevel" />
        <activity android:name=".WishList"/>

        <activity android:name=".Exercise_Details"/>
        <activity android:name=".BMIActivity"/>
        <activity android:name=".SettingsActivity"/>
        <activity android:name=".AboutActivity"/>
        <activity android:name=".UserDetailActivity"/>

        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustResize" />

    </application>

</manifest>